<%#= form_for(current_user.relationships.build(newsfeed_id: @user.id), remote: true) do |f| %>
    <div><%#= f.hidden_field :newsfeed_id %></div>
    <div class="grid_1 alpha article-box">

      <div class="grid_4 omega">
        <h3 class="article-title"><a href="/layouts/newsfeeds">BBC News</a></h3>
        <input onclick="$(this).val('Unsubscribe');" type="button" value="Subscribe" id="blahblah_button_type" />
      </div> <%#= f.submit "Follow", class: "btn btn-large btn-primary" %>


     <!-- <input type="button" value="Subscribe" id="myButton1" onclick="changeButton();" > -->

      <div class="grid_1 alpha article-box">

        <div class="grid_4 omega">
          <h3 class="article-title"><a href="/layouts/newsfeeds">CNN IBN</a></h3>

        </div>
        <div class="clear">&nbsp;</div> </div> </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>

    <!--<p>Button tag - WORKING
      <button onclick="$(this).text('Blahblah_1');" id="test_button">Button_text (button_tag)</button>
    </p>  -->


      <input onclick="$(this).val('Subscribe');" type="button" value="Unsubscribe" id="blahblah_button_type" />




<%# end %>

